# Fichiers système
.DS_Store
Thumbs.db

# Dépendances
node_modules/
backend/vendor/

# Fichiers d'environnement contenant des mots de passe
backend/.env.local
backend/.env.local.php
backend/.env.*.local

# IDE et éditeurs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Symfony (Backend)
/backend/vendor/
/backend/var/
/backend/.env.local
/backend/.env.local.php
/backend/.env.spec.local
/backend/.env.test.local
/backend/public/bundles/
